[user]
  name         = Samy Dindane
  email        = samy@dindane.com
[alias]
  a            = add -p
  bi           = bisect
  st           = status -s
  c            = cherry-pick
  ci           = commit
  cn           = cherry-pick -n
  co           = checkout
  s            = submodule
  br           = branch
  rb           = rebase
  diffs        = diff --staged
  remotev      = remote -v
  lg           = log --graph --pretty=log --abbrev-commit --date=relative
  lga          = log --graph --pretty=log --abbrev-commit --date=relative --all
[color]
  ui           = auto
  branch       = auto
  diff         = auto
  status       = auto
  interactive  = auto
[pretty]
  log          = tformat:%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an — %cr)%Creset
[core]
  editor       = vim
  excludesfile = ~/.gitignore_global
  quotepath    = false
[push]
  default      = tracking
[help]
  autocorrect  = 1
