[user]
  name         = Samy Dindane
  email        = samy@dindane.com
[alias]
  bi           = bisect
  st           = status -s
  ci           = commit
  co           = checkout
  s            = submodule
  br           = branch
  rb           = rebase
  diffs        = diff --staged
  remotev      = remote -v
  lg           = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
  lga          = log --all --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
[color]
  ui           = auto
  branch       = auto
  diff         = auto
  status       = auto
  interactive  = auto
[core]
  editor       = vim
  excludesfile = ~/.gitignore_global
  quotepath    = false
[push]
  default      = tracking
[help]
  autocorrect  = 1
