xft*antialias:        true
xft*hinting:          full
Xft*dpi:              192
URxvt.depth         : 32
URxvt.externalBorder: 0
URxvt.font          : xft:Bitstream Vera Sans Mono:size=8
URxvt.internalBorder: 2
URxvt.saveLines     : 9000
URxvt.scrollBar     : false
URxvt.utf8          : true
URxvt.urlLauncher   : google-chrome
URxvt.cursorBlink   : true

URxvt.perl-ext-common: font-size,keyboard-select,clipboard,url-select

URxvt.keysym.C-minus: perl:font-size:decrease
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.font-size.step: 1

URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

URxvt.keysym.M-u: perl:url-select:select_next

!! https://github.com/solarized/xresources/blob/master/Xresources.light
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #ffffff
#define S_base0         #f1f3f4
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_base3_dec     0253/0246/0227
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #beddf3
#define S_cyan          #2aa198
#define S_green         #859900
*background:            rgba:S_base3_dec/bbbb
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01
*color0:                S_base02
*color1:                S_red
*color2:                S_green
*color3:                S_yellow
*color4:                S_blue
*color5:                S_magenta
*color6:                S_cyan
*color7:                S_base2
*color8:                S_base03
*color9:                S_orange
*color10:               S_base01
*color11:               S_base00
*color12:               S_base0
*color13:               S_violet
*color14:               S_base1
*color15:               S_base3
